#header{
    background-color: #2f6ea1;
    height: 60px;
    padding: 0 30px;
    position: relative;  
}

.menu-left{
    float: left;
    color: white;
    font-size: 18px;
    line-height: 60px;
    margin-right: 25px;
    text-decoration: none;
}

.menu-right{
    float: right;
    color: white;
    font-size: 18px;
    line-height: 60px;
    text-decoration: none;
}

.menu-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
}

.menu-center .food{
    color: #f5c542;
}


#select{
    background-color: #eaf3ff; 
    height: 220px;
    padding: 30px;
}

.girl{
    float: left;
    width: 200px;     
    margin-right: 0px;
}


.menu{
    display: inline-block;    
    background-color: #7b6fcf;
    color: white;
    padding: 10px 20px;       
    text-decoration: none;     
    margin-top: 15px;          
}
.select-text{
    text-align: center;
    margin-top: 25px;
    margin-right: 200px;   
}



.title{
    font-size: 50px;
    font-weight: bold;
    color: #2f4770;
    margin: 0 0 12px 0;
}

.subtitle{
    font-size: 16px;
    font-weight: bold;
    color: #2f4770;
    margin: 0 0 20px 0;
}
#mood{
    width: 900px;         
    margin: 40px auto;     
}


.mood-box{
    float: left;
    width: 260px;
    height: 110px;

    margin: 0 30px 30px 0;
    text-decoration: none;

    color: white;
    text-align: center;
    font-weight: bold;

    padding-top: 12px;     
    line-height: normal;   
}
.mood-icon{
    width: 45px;
    height: 45px;
    display: block;
    margin: 5px auto 10px auto;
}

.mood-text{
    font-size: 22px;
}


.mood-green{  background-color: #9ccf6b; }
.mood-red{    background-color: #e65a5a; }
.mood-blue{   background-color: #59b7e6; }

.mood-purple{ background-color: #7b6fcf; }
.mood-orange{ background-color: #f2a34a; }
.mood-teal{   background-color: #2aa6a6; }

#examples{
    width: 900px;
    margin: 50px auto;
    text-align: center;
}


.examples-title{
    margin-bottom: 25px;
}

.examples-title .line{
    float: left;
    width: 35%;
    height: 2px;
    background-color: #d8dce2;
    margin-top: 12px;
}

.examples-title .text{
    float: left;
    width: 30%;
    font-size: 22px;
    font-weight: bold;
    color: #2f4770;
}


.example-card{
    float: left;
    width: 260px;
    height: 120px;
    background-color: #f2f4f7;
    border-radius: 12px;
    margin: 0 30px 0 0;
    padding-top: 25px;
}


.example-card:last-child{
    margin-right: 0;
}

.example-name{
    font-size: 18px;
    font-weight: bold;
    color: #2f4770;
    margin-bottom: 15px;
}


.example-btn{
    display: inline-block;
    background-color: #7b6fcf;
    color: white;
    padding: 8px 22px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
}
#how{
    width: 900px;
    margin: 60px auto;
    text-align: center;
}

.how-title{
    font-size: 32px;
    font-weight: bold;
    color: #2f4770;
    margin-bottom: 35px;
}

.how-step{
    float: left;
    width: 300px;
}

.how-step-link{
    text-decoration: none;
    display: block;
    float: left;
    width: 300px;
}



.how-circle{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #eaf3ff;
    border: 6px solid #dbe9f7;
    margin: 0 auto 15px auto;

    overflow: hidden;      
    padding: 0;
}


.how-icon{
    width: 100%;
    height: 100%;
    display: block;

    object-fit: cover;     
}

.how-desc{
    font-size: 18px;
    font-weight: bold;
    color: #2f4770;
}

.clear{
    clear: both;
}


